<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
	<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
	<script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<link rel="stylesheet" href="../web/css/lyfbase.css" />
	<meta charset="UTF-8">
	<title>lai</title>
</head>
<body id="article-list">
	<div class="nav">
		<ul class="nav nav-tabs">
			<a href=""><li>首頁</li></a>
			<a href=""><li>文章</li></a>
			<a href=""><li>論壇</li></a>
			<a href=""><li>相冊</li></a>
			<a href=""><li>站長</li></a>
		</ul>
	</div>
	<div class="article-left">
		<div class="article-list col-md-8 col-xs-8">
			
				<div class="list">
					<h5><a href="">文章标题文章标题</a></h5>
					<p>内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内</p>
					<span>作者：佚名&nbsp;&nbsp;&nbsp;2016-09-07</span>
				</div>

				<div class="list">
					<h5><a href="">文章标题文章标题</a></h5>
					<p>内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内</p>
					<span>作者：佚名&nbsp;&nbsp;&nbsp;2016-09-07</span>
				</div>

				<div class="list">
					<h5><a href="">文章标题文章标题</a></h5>
					<p>内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内</p>
					<span>作者：佚名&nbsp;&nbsp;&nbsp;2016-09-07</span>
				</div>

				<div class="list">
					<h5><a href="">文章标题文章标题</a></h5>
					<p>内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内</p>
					<span>作者：佚名&nbsp;&nbsp;&nbsp;2016-09-07</span>
				</div>

				<div class="list">
					<h5><a href="">文章标题文章标题</a></h5>
					<p>内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内</p>
					<span>作者：佚名&nbsp;&nbsp;&nbsp;2016-09-07</span>
				</div>

				<div class="list">
					<h5><a href="">文章标题文章标题</a></h5>
					<p>内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内</p>
					<span>作者：佚名&nbsp;&nbsp;&nbsp;2016-09-07</span>
				</div>

		</div>
	</div>
	<div class="article-right col-md-3 col-xs-3">
		
	</div>

</body>
</html>