<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
	<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
	<script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<link rel="stylesheet" href="../web/css/lyfbase.css" />
	<meta charset="UTF-8">
	<title>lai</title>
</head>
<body id="index">
	<div class="nav">
		<ul class="nav nav-tabs">
			<a href=""><li>首頁</li></a>
			<a href=""><li>文章</li></a>
			<a href=""><li>論壇</li></a>
			<a href=""><li>相冊</li></a>
			<a href=""><li>站長</li></a>
		</ul>
	</div>
	<div class="content col-md-12 col-xs-12">
		<div class="content-left col-md-8 col-xs-8">
			<div class="loop">
				
			</div>
			<div class="new">
				<span class="label label-primary">xin文章</span>

				<div class="list">
					
					<div class="list-list">
						<div><h5>文章標題文章標題<small>&nbsp;[技術天地]</small></h5></div>
						<div class="list-intro"><p>&nbsp;&nbsp;&nbsp;&nbsp;文章內容文章內文章內容文章內文章內容文章內文章內容文章內文章內容文章內文章內容文章內文章內容文章內文章內容文章內文章內容文章內文章內容文章內文章內容文章內文章內容文章內文章內容文章內</p></div>
						<div class="list-author">
							<span>作者：佚名</span>&nbsp;&nbsp;&nbsp;<span>2016-09-12</span>
						</div>
					</div>

					<div class="list-list">
						<div><h5>文章標題文章標題<small>&nbsp;[技術天地]</small></h5></div>
						<div class="list-intro"><p>&nbsp;&nbsp;&nbsp;&nbsp;文章內容文章內文章內容文章內文章內容文章內文章內容文章內文章內容文章內文章內容文章內文章內容文章內文章內容文章內文章內容文章內文章內容文章內文章內容文章內文章內容文章內文章內容文章內</p></div>
						<div class="list-author">
							<span>作者：佚名</span>&nbsp;&nbsp;&nbsp;<span>2016-09-12</span>
						</div>
					</div>

					<div class="list-list">
						<div><h5>文章標題文章標題<small>&nbsp;[技術天地]</small></h5></div>
						<div class="list-intro"><p>&nbsp;&nbsp;&nbsp;&nbsp;文章內容文章內文章內容文章內文章內容文章內文章內容文章內文章內容文章內文章內容文章內文章內容文章內文章內容文章內文章內容文章內文章內容文章內文章內容文章內文章內容文章內文章內容文章內</p></div>
						<div class="list-author">
							<span>作者：佚名</span>&nbsp;&nbsp;&nbsp;<span>2016-09-12</span>
						</div>
					</div>

					<div class="list-list">
						<div><h5>文章標題文章標題<small>&nbsp;[技術天地]</small></h5></div>
						<div class="list-intro"><p>&nbsp;&nbsp;&nbsp;&nbsp;文章內容文章內文章內容文章內文章內容文章內文章內容文章內文章內容文章內文章內容文章內文章內容文章內文章內容文章內文章內容文章內文章內容文章內文章內容文章內文章內容文章內文章內容文章內</p></div>
						<div class="list-author">
							<span>作者：佚名</span>&nbsp;&nbsp;&nbsp;<span>2016-09-12</span>
						</div>
					</div>

				</div>

			</div>
			<div class="midd"></div>
			<div class="answer">
				<span class="label label-primary">xin答案</span>
				<div class="list">

					<div class="list-list">
						<p class="list-content">問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題</p>
						
						<p><small>佚名</small>&nbsp;<small>2016-09-12</small>&nbsp;<small>回答</small><b>(88)</b></p>
					</div>

					<div class="list-list">
						<p class="list-content">問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題</p>
						
						<p><small>佚名</small>&nbsp;<small>2016-09-12</small>&nbsp;<small>回答</small><b>(88)</b></p>
					</div>

					<div class="list-list">
						<p class="list-content">問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題</p>
						
						<p><small>佚名</small>&nbsp;<small>2016-09-12</small>&nbsp;<small>回答</small><b>(88)</b></p>
					</div>

					<div class="list-list">
						<p class="list-content">問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題</p>
						
						<p><small>佚名</small>&nbsp;<small>2016-09-12</small>&nbsp;<small>回答</small><b>(88)</b></p>
					</div>


				</div>
			</div>


		</div>

		<div class="content-right col-md-3 col-xs-3">
			
		</div>

	</div>
	<div class="buttom col-md-12 col-xs-12">
		
	</div>
</body>
</html>